@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500; /* менш жирний */
  color: #333333;
  gap: 15px; /* простір між назвою поля і самим полем */
}

.feedback-form input {
  width: 360px;
  height: 40px;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form textarea {
  width: 360px;
  height: 80px;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  resize: none;
}

.feedback-form button {
  width: 95px;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start; /* вирівнює кнопку вліво */
}

.feedback-form button:hover {
  background-color: #0056b3;
}
